%p
  %b Language:
  = @language.name

%h1 Listing levels

%table#levels
  - @language.levels.sort.each do |level|
    %tr.level{ :id => level.id }
      %td
        %b
          Level
          %span.number= level.number
      %td
        = level.name
        - if level.is_vocab
          %i 
            %b (vocab)
      %td= link_to 'Show', ['admin', level]
      %td= link_to 'Test', test_admin_level_path(level)
      %td= link_to 'Edit', edit_admin_level_path(level)
      %td= link_to 'Destroy', ['admin', level], :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'Back to all Languages', admin_languages_path
\|
= link_to 'Edit Language', edit_admin_language_path(@languages)
\|
= link_to 'New Level', new_admin_language_level_path(@language)

:javascript
  $(function() {
    $('#levels').sortable({
      items: '.level',
      update: function(event, ui) {
        var order = $('.level').map(function() {
          return $(this).attr('id');
        }).get();
        $.ajax({
          type: 'post',
          url: '#{update_level_numbers_admin_language_path(@language)}',
          data: { ids: order },
          success: function() {
            $('.level').each(function(index) {
              $(this).find('.number').text(index + 1);
            });
          }
        });
      }
    });
  });
