%h1 CHALLENGE
%h2 #{@game.name} - Level #{@level.number}

#stats
  %b.count
  more to go
  %b.reset reset!

#challenge
  #tests
    - @testing.each do |test|
      .test
        .english= test.english
        .foreign= test.foreign

  %input#input{ :type => 'text' }

  #success
    = button_to 'Success!', success_game_level_path(@game, @level), :method => 'post'

- content_for :stylesheets do
  = stylesheet_link_tag 'challenge'
- content_for :javascripts do
  = javascript_include_tag 'jquery-autogrowinput.js'

:javascript
  // http://yelotofu.com/2008/08/jquery-shuffle-plugin/
  (function($){
    $.fn.shuffle = function() {
      return this.each(function(){
        var items = $(this).children();
        return (items.length)
          ? $(this).html($.shuffle(items))
          : this;
      });
    }
   
    $.shuffle = function(arr) {
      for(
        var j, x, i = arr.length; i;
        j = parseInt(Math.random() * i),
        x = arr[--i], arr[i] = arr[j], arr[j] = x
      );
      return arr;
    }
  })(jQuery);

  $(function() {
    $('#input').autoGrowInput({
      comfortZone: 10,
      minWidth: 300
    });
    $('#success').hide();
    runTest();
  });

  var runTest = function() {
    $('#tests').shuffle();

    var tests = $('.test');
    tests.find('.foreign').hide();
    tests.hide();

    var current = tests.first();
    current.show();

    var has_failed = false;
    var updateCount = function() { $('#stats .count').text(tests.length - $.inArray(current.get(0), tests)); };
    updateCount();

    $('#input').val('').focus().unbind('keypress').keypress(function(e) {
      if(e.keyCode !== 13) return;

      var passed_current = current.find('.foreign').text() === $(this).val();

      if(passed_current && has_failed) {
        $('#stats .reset').show().delay(3000).fadeOut();
        runTest();
        return;
      }
      else if(passed_current) {
        current = current.hide().next('.test');
        if(!current.length) {
          alert('success!');
          $('#success').show();
          runTest();
          return;
        }
        current.show();
      }
      else {
        has_failed = true;
        alert(current.find('.foreign').text());
      }
      updateCount();
      $(this).val('').focus();

    });
  };
