= form_for [@level, @sentence] do |f|
  -if @sentence.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sentence.errors.count, "error")} prohibited this sentence from being saved:"
      %ul
        - @sentence.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :english
    = f.text_area :english, :rows => 3
  .field
    = f.label :foreign
    = f.text_area :foreign, :rows => 3
  .actions
    = f.submit 'Save'
