%p
  %b Language:
  = @sentence.level.language.name
  %b Level:
  = @sentence.level.name

%h1 Editing sentence

= render :partial => 'form', :locals => { :path => @sentence }

= link_to "Back to #{@sentence.level.name}", @sentence.level
\|
= link_to 'Show', @sentence
