%p#notice= notice

%p
  = @level.name
  sentence#show

%p
  %b English:
  = @sentence.english
%p
  %b Foreign:
  = @sentence.foreign

= link_to "Back to #{@level.name}", @level
\|
= link_to 'Edit', edit_level_sentence_path(@level, @sentence)
