%p
  %b Language:
  = @vocab.level.language.name
  %b Level:
  = @vocab.level.name

%h1 Editing vocab

= render :partial => 'form', :locals => { :path => @vocab }

= link_to "Back to #{@vocab.level.name}", @vocab.level
\|
= link_to 'Show', @vocab
