%p
  %b Language:
  = @level.language.name
  %b Level:
  = @level.name

%h1 New vocab

= render :partial => 'form', :locals => { :path => [@level, @vocab] }

= link_to "Back to #{@level.name}", @level
