%p
  %b Language:
  = @vocab.level.language.name
  %b Level:
  = @vocab.level.name

%h1 Editing vocab

= render :partial => 'form', :locals => { :path => ['admin', @vocab] }

= link_to "Back to #{@vocab.level.name}", ['admin', @vocab.level]
\|
= link_to 'Show', ['admin', @vocab]
