%p
  %b Language:
  = @sentence.level.language.name
  %b Level:
  = @sentence.level.name

%h1 Editing sentence

= render :partial => 'form', :locals => { :path => ['admin', @sentence] }

= link_to "Back to #{@sentence.level.name}", ['admin', @sentence.level]
\|
= link_to 'Show', ['admin', @sentence]
