%p
  %b Language:
  = @level.language.name
  %b Level:
  = @level.name

%h1 New sentence

= render :partial => 'form', :locals => { :path => ['admin', @level, @sentence] }

= link_to "Back to #{@level.name}", ['admin', @level]
